.grid {
  background-color: black;
}

.grid {
  width: 600px;
  height: 600px;
  border: solid black 1px;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  width: 40px;
  height: 40px;
}

.invader {
  /* background-color: purple;
  border-radius: 20px; */
  background-image: url("images/alien.png");
  background-size: cover;
}

.shooter {
  /* background-color: green;
  border-radius: 20px; */
  background-image: url("images/shooter.png");
  background-size: cover;
}

.laser {
  /* background-color: orange; */
  background-image: url("images/laser1.png");
  background-size: cover;
}

.boom {
  /* background-color: red; */
  background-image: url("images/boom.png");
  background-size: cover;
}
